<article  class="people large-4 columns" >
		<h4>Usuarios</h4>
		<div cg-busy="dashboard.usersPromise" class="pricing-table">
			<input type="search" ng-model="dashboard.people" placeholder="Filtrar por nombre..." />

			<ul class="groupName">
				
				<li class="bullet-item large-12 colums item animate-repeat repeat-item"  ng-repeat="group in dashboard.response | filter:{name: dashboard.people}" ng-animate="'animate'">
				<div class="left">
						<div ng-click="showDetails = ! showDetails" class="left" ><i class="fi-minus" ng-show="showDetails"></i><i class="fi-plus" ng-hide="showDetails" >
					</i></div>{{group.name}}
				</div>
					<div class="circle right" ng-style="dashboard.usersStyle($index, '{{group.name}}')"></div>
					
					<ul ng-show="showDetails" ng-animate="'animate'">
						<li class="bullet-item item" ng-repeat="family in group.assets" ng-animate="'animate'">{{family.assetId}}</li>	
					</ul>
				</li>
				
			</ul>
		</div>
	</article>

<article class="map large-8 columns" ng-controller="mapsCtrl as maps" cg-busy="dashboard.mapPromise" >
		<h4>Mapa</h4>
		<ui-gmap-google-map center='maps.map.center' class="large-12" zoom='maps.map.zoom'>
			<ui-gmap-circle ng-repeat="c in maps.circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
              visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable"></ui-gmap-circle>
              <ui-gmap-markers models="maps.randomMarkers" coords="'self'" icon="'icon'" click="maps.markerClick">
				<ui-gmap-windows show="show">
                	<div style="height:150px; overflow-y:scroll"> 
                		<p>{{maps.markerUserId}}</p>
                		<p>Latitud: {{maps.markerPosition.latitude}}</p>
						<p>Longitud: {{maps.markerPosition.longitude}}</p>
                	</div>
            	</ui-gmap-windows>
          	  </ui-gmap-markers>
		</ui-gmap-google-map>

</article>
