<section class="large-10 columns" ng-controller="dashboardCtrl as dashboard">
	<h1>Dashboard</h1>
	<div class="large-12 columns"  >

	<section class="people large-4 columns" >
		<h4>Usuarios</h4>
		<div class="pricing-table">
			<input type="search" ng-model="people" placeholder="Filtrar por nombre..." />

			<ul class="groupName">
				
				<li class="bullet-item large-12 colums item animate-repeat"  ng-repeat="group in response | filter:{name: people}">
				<div ng-click="showDetails = ! showDetails" class="left"><i class="fi-minus" ng-show="showDetails"></i><i class="fi-plus" ng-hide="showDetails" ></i>{{group.name}}</div>
					
					<ul ng-show="showDetails">
						<li class="bullet-item item" ng-repeat="family in group.assets">{{family.family.name}}</li>	
					</ul>
				</li>
				
			</ul>
		</div>
	</section>
	<section class="map large-8 columns" ng-controller="mapsCtrl">
		<h4>Mapa</h4>
		<ui-gmap-google-map center='map.center' class="large-12" zoom='map.zoom'>
			<ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
              visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable"></ui-gmap-circle>
		</ui-gmap-google-map>

	</section>

	</div>

	<div class="row  large-12 columns">
		<section class="chart large-8 columns" >
			<h4>Nº de alertas por usuario</h4>
			{{chart.data}}
			<canvas id="line" class="chart chart-line" data="data" labels="labels" legend="true" series="series" click="onClick" height="75"></canvas>  
		</section>

		<section class="alerts large-4 columns">
			<h4>Últimas alertas</h4>
		</section>
	</div>
</section>
