

<ul class="dark menu-bar"  ng-show="dashboard.phone">
	<li ng-click="dashboard.enableUsersBox()" class="is-active"><a href="#">Usuarios</a></li>
	<li ng-click="dashboard.enableMapBox()"><a href="#">Mapa</a></li>
	<li ng-click="dashboard.enableStatisticsBox()"><a href="#">Estadísticas</a></li>
	<li ng-click="dashboard.enableLastAlertsBox()"><a href="#">Últimas alertas</a></li>
</ul>


<section class="large-11 small-12 columns">
	<!--
	<h1>Dashboard</h1>
	-->
	<div class="model-input">
		<input type="search" ng-model="dashboard.people" placeholder="Filtrar por nombre de usuario..." />	
	</div>
	
	<div class="large-12 columns" ng-include="'assets/static_pages/partials/_users.html'" ng-cloak>
	</div>

	<div class="large-12 columns"  ng-include="'assets/static_pages/partials/_lastAlerts.html'" ng-cloak>
	</div>
</section>
