<section class="large-11 columns" ng-controller="dashboardCtrl as dashboard">
	
	<h1>Dashboard</h1>
	<div class="large-12 columns" ng-include="'assets/static_pages/partials/users.html'" ng-cloak>

	
	</div>

	<div class="large-12 columns"  ng-include="'assets/static_pages/partials/lastAlerts.html'" ng-cloak>

	</div>
</section>
