<div  id="map-box" class="large-12 columns" ng-controller="mapsCtrl as maps">
<ui-gmap-google-map center='maps.map.center' zoom='maps.map.zoom'>
			<ui-gmap-circle ng-repeat="c in maps.circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius"
              visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable" clickable="c.clickable"></ui-gmap-circle>
              <ui-gmap-markers models="maps.randomMarkers" coords="'self'" icon="'icon'" click="maps.markerClick">
				<ui-gmap-windows show="show">
                	<div style="height:150px; overflow-y:scroll"> 
                		<p>{{maps.markerUserId}}</p>
                		<p>Latitud: {{maps.markerPosition.latitude}}</p>
						        <p>Longitud: {{maps.markerPosition.longitude}}</p>
                	</div>
            	</ui-gmap-windows>
          	  </ui-gmap-markers>
</ui-gmap-google-map>
</div>