  <nav ng-hide="layout.phone" class="top-bar" data-topbar role="navigation">
    <ul class="middle tab-bar-section">
      <li class="name">
        <h1><img ng-src="assets/VueForgePlay.png" class="logo"></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">

      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="http://playbyaltran.appspot.com/admin.html"><i class="fa fa-diamond"></i> Administración Play</a></li>
        <li class="has-dropdown">
          <a data-dropdown="dropdown1" aria-controls="drop1" aria-expanded="false"><i class="fa fa-user"></i> Mi cuenta</a>
          <ul data-dropdown-content aria-hidden="true" class="f-dropdown" id="dropdown1">
            <li><a href="#">Mis datos</a></li>
            <li><a ng-click="layout.signOut()">Salir</a></li>
          </ul>
        </li>
      </ul>

    </section>
</nav>

  <!-- Left Nav Sidebar -->

<nav ng-hide="layout.phone" class="large-1 columns left-nav">
  <div class="icon-bar vertical five-up">
    <a class="item" href="/#/dashboard">
        <i class="fi-info"></i>
        <label>Dashboard</label>
    </a>
    <a ng-if="layout.admin" class="item" href="/#/admin">
      <i class="fi-wrench"></i>
      <label>Administración</label>
    </a>
  </div>
</nav>

<section id="phone-section" class="phone-view" ng-class="{'slidification': layout.slidification}" ng-swipe-right="layout.slideBoxRight(layout.selected)" ng-swipe-left="layout.slideBoxLeft(layout.selected)">
<nav class="phone-nav">
<div ng-if="layout.phone" class="primary title-bar">
<div class="center title">Play by altran</div>
<span class="left"><a href="#"> </a></span>
<span class="right"><a href="#" zf-toggle="my-actionsheet"></a>
  
  
  <zf-action-sheet id="my-actionsheet">
  <zf-as-button><i class="fi-list"></i></zf-as-button>
  <zf-as-content position="bottom">
    <ul>
      <li ><a href="#" id="account1">Mis datos</a></li>
            <li ><a href="#" id="account2">Salir</a></li>
        </ul>
  </zf-as-content>
  </zf-action-sheet>
</span>

</div>

<ul class="dark menu-bar" ng-animate-children ng-if="layout.phone">
  <li ng-repeat="partial in layout.partials" ng-animate ng-click="layout.enableBox($index)" ng-class="{'is-active': layout.selected === $index}"><a href="#"><i class={{partial.logo}}></i></a></li>
</ul>

</nav>

<div class="fill-box dashboard-phone" ng-if="layout.phone" ui-view="viewMobile"></div>

</section>

<section ui-view="viewNormal" ng-if="!layout.phone" class="large-11 small-12 columns">
</section>

<footer class="footer-basic-centered" ng-hide="layout.phone">

  <p class="footer-company-motto">Play by Altran.</p>

  <p class="footer-links">
    <a href="#">Altran</a>
    ·
    <a href="#">Orange</a>
    ·
    <a href="#">Play by Altran</a>
  </p>

  <p class="footer-company-name">Altran &copy; 2015</p>

</footer>
<toaster-container></toaster-container>