<div cg-busy="dashboard.usersPromise" class="pricing-table">		
				
	<div ng-scrollable="{scrollX:'none',scrollY:'right'}" data-alert class="alert-box secondary radius"  ng-repeat="group in dashboard.response | filter:{name: dashboard.people}">
	<div class="left">
			<div ng-click="showDetails = ! showDetails" class="left" ><i class="fi-minus" ng-show="showDetails"></i><i class="fi-plus" ng-hide="showDetails" >
		</i></div> <a href="/#/{{group.name}}">{{group.name}}</a>
	</div>
		<div class="circle right" ng-style="dashboard.usersStyle($index, '{{group.name}}')"></div>
		
		<div ng-show="showDetails" ng-animate="'animate'">
			<div class="bullet-item item" ng-repeat="family in group.assets" ng-animate="'animate'">{{family.assetId}}</div>	
		</div>
	</div>
				
</div>