<div cg-busy="dashboard.usersPromise" class="pricing-table">		
				
	<div ng-scrollable="{scrollX:'none',scrollY:'right'}" data-alert class="alert-box secondary radius animate-repeat"  ng-repeat="group in dashboard.response | filter:dashboard.people">
	<div class="left">
			<div ng-click="showDetails = ! showDetails" class="left" ><i class="fi-minus" ng-show="showDetails"></i><i class="fi-plus" ng-hide="showDetails" >
		</i></div> <a href="/#/users/{{group.name}}">{{group.dbName || group.name}}</a>
	</div>
		<div ng-hide="dashboard.waitingForUsers" class="circle right" ng-style="dashboard.usersStyle($index, '{{group.name}}')"></div>
		<div ng-show="dashboard.waitingForUsers" class="right">
			<span class="one">.</span><span class="two">.</span><span class="three">.</span>
		</div>
		
		<div ng-show="showDetails" ng-animate="'animate'">
			<div class="bullet-item item" ng-repeat="family in group.assets" ng-animate="'animate'">{{family.assetId}}</div>	
		</div>
	</div>
				
</div>