// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
body{
	background: image-url("fondo.png");
}
footer{
	height: 100px;
	background-color: #fff;
}

div.pricing-table{
	height: 400px;
	overflow-y: scroll;
}

#line {
	height: 100px;
	
}
.circle {
	display: inline-block;
	width: 1em;
	height: 1em;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.angular-google-map-container { 
	height: 400px; 
	width:100%;
	border: 10px solid #fff;
}

.chart .alerts{
	height: 400px;
}

.columns.content-area{}
.columns.sidebar{border:1px solid #111;padding:0}
/* Meter media queries para el height del left-nav*/
.columns.left-nav{padding:0; height:100%;}
.icon-bar.vertical.five-up{width:100%; }
.logo{height:45px;}

@media (max-width: 1000px) { 

	.columns.left-nav{height:auto;}

}

[ng-cloak] {
    opacity: 0 !important;
}
.element-with-initial-ng-cloak {
    opacity: 1;
    transition: opacity 1s;
}



.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}
