// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
body{
	background: image-url("fondo.png");

}
footer{
	height: 100px;
	background-color: #fff;
}

#account1, #account2{
	color: black;
}
.with-chevron > a{
}
.with-chevron{}
.fill-box {
	height: 100%;
}
.phone-nav{
	z-index: 1000;
}
.dashboard-phone{
}
div.pricing-table{
	height: 400px;
}
.alert-box{
	margin-bottom: 1px;
width: 100%;
display: inline-block;
}
.last-alerts-box{
	opacity: 0.75;
	padding-bottom: 30px;
}
div.pricing-table>div.alert-box>div.right{
	font-weight: bold;
}

.circle {
	display: inline-block;
	width: 1em;
	height: 1em;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.angular-google-map-container { 
	height: 400px; 
	width:100%;
	border: 10px solid #fff;
}
.user-user{
	margin-top: 15px;
}
.chart .alerts{
	height: 400px;
}
div.pricing-table.last-alerts{
	height: 450px;
}

.columns.content-area{}
.columns.sidebar{border:1px solid #111;padding:0}
/* Meter media queries para el height del left-nav*/
.columns.left-nav{padding:0; height:100%;}
.icon-bar.vertical.five-up{width:100%; }
.logo{height:45px;}

@media (max-width: 1000px) { 

	.columns.left-nav{height:auto;}

}

[ng-cloak] {
    opacity: 0 !important;
}
.element-with-initial-ng-cloak {
    opacity: 1;
    transition: opacity 1s;
}



.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}



 .labels {
   color: red;
   background-color: white;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   width: 60px;     
   border: 2px solid black;
   white-space: nowrap;
 }

 .gm-style-iw > * > * > p:first-child{
 	font-weight: 600;
 }
 .gm-style-iw > * > * > p {
 	font-size: 0.9rem;
 	margin-bottom: 5px;
 }
 .gm-style-iw+div>img {
 	max-width: none;
 }
 .strong-words{
 	font-weight: bold;
 }

.model-input{
	margin-top: 10px;
}

/* Dot animations*/
.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
      animation: dot 1.3s infinite;
      animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
     animation: dot 1.3s infinite;
     animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}







.footer-basic-centered{
 	height: 200px;
 	display:inline-block;
	width: 100%;
	background-color: #292c2f;	
 	bottom:0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.footer-basic-centered .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-basic-centered .footer-links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.footer-basic-centered .footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

@media (max-width: 600px) {
	body{
		width:100%;
		overflow-x: hidden;
	}
	body,div.pricing-table.last-alerts{
		height: 100%;
	}

	.footer-basic-centered{
		padding: 35px;
	}

	.footer-basic-centered .footer-company-motto{
		font-size: 18px;
	}

	.footer-basic-centered .footer-company-name{
		font-size: 12px;
	}

	.footer-basic-centered .footer-links{
		font-size: 14px;
		padding: 25px 0 20px;
	}

	.footer-basic-centered .footer-links a{
		line-height: 1.8;
	}
}




/* Admin Panel */

.add-button{
	background-color: gainsboro;
	display:block;
}
.add-button>i{
	line-height: 45px;
	font-size: 30px;
}

.elder-carer-list.radius.alert-box{
	padding-bottom: 0px;
}